* {
    background-color: black;
}

#Tittel {
    color: white;
    font-family: 'Bebas Neue', sans-serif;;
}

.Like {
    color: white;
    font-family: 'Inter', sans-serif;
}

.Hate {
    color: white;
    font-family: 'Noto Sans', sans-serif;

}

.box1{
    background-color: #45D86F;

}

.Tittel {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.List {
    color: white;
    font-family: 'Oswald', sans-serif;
}

#Games {
    position: absolute; top: 140px; right: 0px;
}

.scr{
    position: absolute; top: 200px; right: 0px;
}
.List1 {
    color: red;
    font-family: 'Oswald', sans-serif;
}

#a {
    position: absolute ; top: 520px; right: 30px;
}

#img {
    position: absolute; top: 620px;    right: 30px;
}