* {
    background-color: black;
}

#Tittel {
    color: white;
    font-family: 'Bebas Neue', sans-serif;;
}

.Like {
    color: white;
    font-family: 'Inter', sans-serif;
}

.Hate {
    color: white;
    font-family: 'Noto Sans', sans-serif;

}

.box1{
    background-color: #45D86F;

}

.Tittel {
    color: white;
}

.List {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

#Games {
    position: absolute; top: 140px; right: 0px;
}

.scr{
    position: absolute; top: 200px; right: 0px;
}